# Python bytecode and caches
__pycache__/
*.py[cod]

# Rope IDE project files
.ropeproject/

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
env/
.venv/

# Pytest cache
.pytest_cache/

# Tox
.tox/

# Editor directories and files
.idea/
.vscode/
*.swp

# macOS specific files
.DS_Store

# Logs
*.log

# API Keys
keys.json
